table {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  padding: 3px 5px;
}

th,
td {
  border-bottom: 1px dotted black;
}

.align-left {
  text-align: left;
}

.item-name {
  width: 85px;
  white-space: pre;
}

.condition-name,
.ghost-name {
  width: 130px;
}

.count {
  width: 70px;
}
